<section class="CartaSala1">


@{
    ViewData["Title"] = "Sala1";
}
<link rel ="stylesheet" href="css/Estilo.css">


  <form method="post" action = '@Url.Action("CompararRespuesta", "Home")'>
<p>
 Contraseña: <textarea name="RespSala1" id="RespSala1" rows="1" cols="10">
</textarea>
<input type="submit" value=" Sumbit form">
<input type="reset" value=" reset form">
</p>
  </form>

  
</section>