
@{
    ViewData["Title"] = "Creditos";
}
<link rel ="stylesheet" href="css/Estilo.css">

<div>
  <img src="" alt="Foto Franco">
   
   <h2> Franco </h2>
</div> 

<div>
  <img src="" alt="Foto mati">
   
   <h2> Matias </h2>
</div> 

<div>
  <img src="" alt="Foto benja">
   
   <h2> Benja </h2>
</div> 