<section class ="creditos">

 @{
      ViewData["Title"] = "Creditos";
    }
   <link rel ="stylesheet" href="css/Estilo.css">

<img class="logo" src="~/imagenes/logo_ecos_del_olvido-removebg-preview.png" alt="logo">
  
  <section>
  <div>
   <h2> Franco </h2>
   <img src="~/imagenes/Franco.jpeg" alt="Foto Franco">
  </div> 

  <div>
   <h2> Matias </h2>
    <img src="~/imagenes/Mati.jpeg" alt="Foto mati">
  </div> 

  <div>
   <h2> Benja </h2>
    <img src="~/imagenes/Benja.jpeg" alt="Foto benja">
  </div> 
</section>

</section>