<section class ="creditos">

 @{
      ViewData["Title"] = "Creditos";
    }
   <link rel ="stylesheet" href="css/Estilo.css">


  
  
  <img src="wwwroot/imagenes/Franco" alt="Foto Franco">
   
   <h2> Franco </h2>
  </div> 

  <div>
  <img src="wwwroot/imagenes/Mati" alt="Foto mati">
   
   <h2> Matias </h2>
  </div> 

  <div>
  <img src="wwwroot/imagenes/Benja" alt="Foto benja">
   
   <h2> Benja </h2>
  </div> 
</section>