<section class ="creditos">

 @{
      ViewData["Title"] = "Creditos";
    }
   <link rel ="stylesheet" href="css/Estilo.css">


  
  <div>
  <img src="~/imagenes/Franco.jpeg" alt="Foto Franco">
   
   <h2> Franco </h2>
  </div> 

  <div>
  <img src="~/imagenes/Mati.jpeg" alt="Foto mati">
   
   <h2> Matias </h2>
  </div> 

  <div>
  <img src="~/imagenes/Benja.jpeg" alt="Foto benja">
   
   <h2> Benja </h2>
  </div> 


</section>