
<section class ="index">
@{
    ViewData["Title"] = "Index";
}
<link rel ="stylesheet" href="css/Estilo.css">
 
 <h1>Ecos del Olvido</h1>

<div>
    <p>Bienvenido a una sala de escape en donde nunca escaparas</p>

    
 <a href= '@Url.Action("IrASala1", "Home")' alt = "Ir al "> Jugar</a>
 <a href= '@Url.Action("IrATutorial", "Home")' alt = "Ir al "> Tutorial</a>
 <a href= '@Url.Action("IrACreditos", "Home")' alt = "Ir al "> Creditos</a>

</div>

</section>


