<section class="ParedSala4">

@{
    ViewData["Title"] = "Sala1";
}
<link rel ="stylesheet" href="css/Estilo.css">
<header>
   <a class= "calabera" href='@Url.Action("Index", "Home")'> <img src="~/imagenes/Calabera.png" alt=""></a>
 </header>
<h1>GANASTE</h1>

</section>
