<section class = "puertaCodigo">
@{
    ViewData["Title"] = "PuertaCodigo";
}
<link rel ="stylesheet" href="css/Estilo.css">
 
  <form method="post" action = '@Url.Action("CompararRespuesta", "Home")'>
  
<p>
 Contraseña: <textarea name="RespSala" id="RespSala2" rows="10" cols="1">
</textarea>
<input type="submit" value=" Sumbit form">

</p>
  </form>



</section>