<section class="Sala3Computadora">


@{
    ViewData["Title"] = "Sala3Computadora";
}
<link rel ="stylesheet" href="css/Estilo.css">


  <form method="post" action = '@Url.Action("CompararRespuesta", "Home")'>
<p>
Mensaje: <textarea name="Sala3Computadora" id="IdSala3Computadora" rows="1" cols="10">
</textarea>
<input type="submit" value=" Sumbit form">
<input type="reset" value=" reset form">
</p>
  </form>

  //no se nos pasa de sala, hacerlo bien en la prox clase 
</section>