
<section class ="sala2">
@{
    ViewData["Title"] = "Pasillo";
}
<link rel ="stylesheet" href="css/Estilo.css">
 

<h1> Pasillo </h1>

<h2> Escucha las voces de las almas perdidas </h2>
<audio controls autoplay>
    <source src="../Audio/AudioRespuesta.m4a" type="audio/mpeg">
    Tu navegador no soporta la reproducción de audio.
</audio>


<a  href= '@Url.Action("IrAPuertaCodigo", "Home")' alt = "Ir al "> . </a>


 <a href= '@Url.Action("CompararRespuesta", "Home")' alt = "Pista "> Pista </a>
 <p>
@if( ViewBag.TocoPista != null )
{

 @ViewBag.TocoPista

}
</p>

</section>