<section class="Sala1">

@{
    ViewData["Title"] = "Sala1";
}
<link rel ="stylesheet" href="css/Estilo.css">


<h1> Habitacion </h1>
<<section class="Carta40seg">
  <img id="fotointro" src="../imagenes/fotointro.jpg" alt="Inicio" style="display: block; width: 100%;">
  <script>
    // imagen de 40 segundos de presentación
    setTimeout(function () {
      document.getElementById("fotointro").style.display = "none";
    }, 10000); // 10 segundos (10.000 ms)
  </script>
</section>



<section class="cosoDelCodigoS1">
 <a href= '@Url.Action("IrACartaSala1", "Home")' alt = "foto Para Respuesta "> <img src="../imagenes/cosodecartasala1_2.png" alt="foto carta"></a>
</section>


 <a href= '@Url.Action("CompararRespuesta", "Home" , new { TocoPista = true})' alt = "Pista ">  Pista</a>

<p>
@if( ViewBag.TocoPista != null )
{

 @ViewBag.TocoPista

}
<section class="TocoCarta">
 <a href= '@Url.Action("CompararRespuesta", "Home" , new {tocoPreg = true})' alt = "acertijo ">  </a>
</section>
@if( ViewBag.tocoPreg != null )
{

   <img src="../imagenes/CartaSala1.psd" alt="Foto acertijo">
}
</p>



</section>