<section class="Sala1">

@{
    Layout = "_Layout";
}

<body class="sala4-body">
    <div class="sala4-contenedor">
        <img src="../imagenes/sala4.png" alt="Pared rota" class="sala4-fondo">
        <div class="texto-sala4">
            <h2>Una pared deteriorada llama tu atención...</h2>
            <p>¿Qué harás? Tal vez puedas romperla.</p>
            <a href="/Home/ParedRota" class="boton-romper">Romper la pared</a>
        </div>
    </div>
</body>




