@{
    ViewData["Title"] = "Sala1";
}
<link rel ="stylesheet" href="css/Estilo.css">

<h1> Habitacion </h1>


<script>
  setTimeout(function () {
    document.getElementById("fotoIntro").style.display = "none";
  }, 40000); // 40 segundos = 40.000 milisegundos
</script>


 <a href= '@Url.Action("CartaSala1", "Home")' alt = "foto carta "> <img src="fotoLogo.png" alt="foto carta"></a>
