
<section class ="sala3">
@{
    ViewData["Title"] = "Habitacion con computadora";
}
<link rel ="stylesheet" href="css/Estilo.css">
 

<h1> Habitacion de la computadora </h1>






<a  href= '@Url.Action("PuertaCodigo", "Home")' alt = "Ir al "> . </a>

 <a href= '@Url.Action("CompararRespuesta", "Home" )' alt = "Pistas "> Pista</a>

 <p>
@if( ViewBag.TocoPista != null )
{

 @ViewBag.TocoPista

}
</p>

</section>