@{
    ViewData["Title"] = "Sala 4";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/sala4.css" />
<header>
   <a class= "calabera" href='@Url.Action("IrASala3Computadora", "Home")'> <img src="~/imagenes/Calabera.png" alt=""></a>
 </header>


<section class="sala4">
    <div class="contenedor-sala4">
        <img src="~/imagenes/sala4.png" alt="Bate apoyado" class="fondo-sala4" />


        <a href="@Url.Action("IrASala4ParedRota", "Home")">
            <div class="bate-interactivo" title="Golpear pared"></div>
        </a>
    </div>
</section>

