
<section class ="sala2">
@{
    ViewData["Title"] = "Pasillo";
}
<link rel ="stylesheet" href="css/Estilo.css">
 

<h1> Pasillo </h1>

<h2> Escucha las voces de las almas perdidas </h2>

<audio controls autoplay>
    <source src="../Audio/Voz 003 (online-audio-converter.com).mp3" type="audio/mpeg">
</audio>


<a  href= '@Url.Action("IrAPuertaCodigo", "Home")' alt = "Ir al "> . </a>


 <a href= '@Url.Action("CompararRespuesta", "Home")' alt = "Pista "> Pista </a>
 <p>
@if( ViewBag.TocoPista != null )
{

 @ViewBag.TocoPista

}
</p>

</section>