
<section class ="sala2">
@{
    ViewData["Title"] = "Pasillo";
}
<link rel ="stylesheet" href="css/Estilo.css">
 

<h1> Pasillo </h1>

<h2> Escucha las voces de las almas perdidas </h2>




<a  href= '@Url.Action("PuertaCodigo", "Home")' alt = "Ir al "> . </a>
</section>