<section class="Sala1">

@{
    ViewData["Title"] = "Sala1";
}
<link rel ="stylesheet" href="css/Estilo.css">

<header>
   <a class= "calabera" href='@Url.Action("Index", "Home")'> <img src="~/imagenes/Calabera.png" alt=""></a>
 </header>




 <a href= '@Url.Action("CompararRespuesta", "Home" )' alt = "Pista ">  Pista</a>

 <a href= '@Url.Action("CompararRespuesta", "Home")' alt = "Pista">Pista </a>
 <p>
@if( ViewBag.TocoPista != null )
{

 @ViewBag.TocoPista

}
</p>
</section>
