<section class="Sala1">

@{
    ViewData["Title"] = "Sala1";
}
<link rel ="stylesheet" href="css/Estilo.css">

<h1> Habitacion </h1>
<section class="Carta40seg" style="display: none;">
<button onclick="mostrarCarta()">Mostrar carta de presentación</button>

  <img id="fotointro" src="../imagenes/fotointro.jpg" alt="Inicio" style="width: 100%;">

<script>
  function mostrarCarta() {
    const carta = document.querySelector(".Carta40seg");
    carta.style.display = "block";

    // Ocultar automáticamente después de 10 segundos
    setTimeout(function () {
      carta.style.display = "none";
    }, 10000); // 10.000 milisegundos = 10 segundos
  }
</script>
</section>



<section class="cosoDelCodigoS1">
 <a href= '@Url.Action("IrACartaSala1", "Home")' alt = "foto Para Respuesta "> <img src="../imagenes/cosodecartasala1_2.png" alt="foto carta"></a>
</section>


 <a href= '@Url.Action("CompararRespuesta", "Home" )' alt = "Pista ">  Pista</a>

<p>
@if( ViewBag.TocoPista != null )
{

 @ViewBag.TocoPista

}
</p>



</section>