
<section class ="sala3">
@{
    ViewData["Title"] = "Habitacion con computadora";
}
<link rel ="stylesheet" href="css/Estilo.css">
 

<h1> Habitacion de la computadora </h1>

<h2> Escucha las voces de las almas perdidas </h2>




<a  href= '@Url.Action("PuertaCodigo", "Home")' alt = "Ir al "> . </a>
</section>