
<section class ="sala2">
@{
    ViewData["Title"] = "Pasillo";
}
<link rel ="stylesheet" href="css/Estilo.css">
 
<header>
   <a class= "calabera" href='@Url.Action("IrASala1", "Home")'> <img src="~/imagenes/Calabera.png" alt=""></a>
 </header>
<h1> Pasillo </h1>

<h2> Escucha las voces de las almas perdidas </h2>

<div class="audioWrapper">
    <audio controls>
        <source src="~/Audio/Voces.mp3" type="audio/mpeg" />
        Your browser does not support this audio format.
    </audio>
</div>


<a  href= '@Url.Action("IrAPuertaCodigo", "Home")'class="puntooSala2" alt = "Ir al "> . </a>


 <a href= '@Url.Action("CompararRespuesta", "Home")' alt = "Pista "> Pista </a>
 <p>
@if( ViewBag.TocoPista != null )
{

 @ViewBag.TocoPista

}
</p>

</section>