 
 <h1>Ecos del Olvido</h1>
 <div>
      
      <h2> Tutorial </h2>

      <p> El juego consiste en escapar de tus pesadillas. pasando por 4 terribles salas que te atormentaran. 
      Muchas de estas constaran de una clave para avanzar a la siguiente sala, esa clave puede ser un numero, palabras o letras.</p>
      <h3> Buena Suerte </h3>

      
</div>
 


    